In [2]:
import numpy as np

1.Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [11]:
text=input("Enter the string")
characters=set(text)
for i in characters:
  count=0
  for j in text:
    if i==j:
      count=count+1
    else:
      continue
  print(i,"=",count)

Enter the stringassembly
a = 1
l = 1
b = 1
e = 1
y = 1
m = 1
s = 2

2. . Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34

In [3]:
a=(34,12,7)
b=max(a)
b

34

3.Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8

In [9]:
base=int(input('base: '))
exp=int(input('exp: '))
a=base**exp
a

base: 2
exp: 3

8

4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.

In [12]:
n=int(input('enter a positive integer'))
sum=0
for i in range(1,n):
  sum=sum+(i**3)
sum

enter a positive integer4

36

5.Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output:

In [7]:
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print('FizzBuzz')
    elif i % 2 == 0:
        print('Fizz')
    elif i % 5 == 0:
        print('Buzz')
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6. Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [5]:
num=[2,3,4,2,5,2]
freq={}
for i in num:
  count=0
  for j in num:
    if i==j:
      count=count+1
    else:
      continue
  freq[str(i)]=count

In [10]:
max(freq.values())
for i in num:
  if freq[str(i)]==(max(freq.values())):
    print("most frequent item is ",i)
    break
  else:
    continue

most frequent item is  2

7. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [6]:
set=(2,1,3,1)
sum=0
for i in set:
  sum=sum+(i**2)
sum

15

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [1]:
for i in range(1,16):
  if i%2==0:
    print ('Even')
  else:
    print ('odd')

odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [5]:
f=int(input('Temperature in Fahrenheit '))
c=(f-32)*(5/9)
print(c,'Celsius')

Temperature in Fahrenheit 41
5.0 Celsius

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [23]:
w=int(input('enter a positive integer'))
factorial=1
for i in range(1,(w+1)):
  factorial=factorial*i
factorial

enter a positive integer3

6