In [3]:
import numpy as np
import pandas as pd

1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [ ]:
radius= int(input('enter the radius-'))
area= np.pi*(radius**2)
print('area',area)

enter the radius-5
area 78.53981633974483

2.Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
name= input('name-')
roll_no=int(input('roll no.-'))
mark=int(input('mark-'))

name-a
roll no.-1
mark-2

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [1]:
numbers= (12,3,47,10)
print(max(numbers), 'is the largest number')

47 is the largest number

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [11]:
a=np.arange(1,11)
a
for i in a:
  b=(i+(i-1))
  print(b)

1
3
5
7
9
11
13
15
17
19

5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [18]:
a=(10,20,33,46,55)
for i in a:
  if i%5==0:
    print(i)

10
20
55

6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number.

In [8]:
a=int(input('enter the number: '))
ss=0
for i in range(2,a):
  if a%i==0:
    ss=ss+1
  else:
    continue
if ss>0:
  print(a,'is not prime')
else:
  print(a,'is prime')

enter the number: 2
2 is prime

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [4]:
z=[10,40,30,70]
output=[]
for i in range(len(z)-1,-1,-1):
  output.append(z[i])
output

[70, 30, 40, 10]

8.. Write a Python program to print the following pattern.
*
**
***
****

In [20]:
for i in range(1,5):
  print('*'*i)

*
**
***
****

9.Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [21]:
aa=(34,12,7)
print(max(aa))

34

In [ ]:
10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [30]:
for i in range(1,5):
  print('*'*i)
for j in range(5,0,-1):
  print('*'*j)

*
**
***
****
*****
****
***
**
*